---
import RealmCard from "../components/realm-card.astro";

import "@fontsource/metamorphous";
---

<section
  class="grid grid-rows-[auto_1fr] py-14 gap-14 bg-cover bg-[url('https://res.cloudinary.com/jr-cloud/image/upload/v1670016601/rog-realms/bg_stone_texture_mobile_a9isiy.jpg')]"
>
  <h1
    class="grid text-center text-white font-metamorphous text-4xl sm:text-5xl md:text-6xl uppercase"
    style="filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.4));text-shadow: 0px 1px 35px rgb(0 43 82 / 40%);"
  >
    Reinos de RoG
  </h1>
  <div class="grid grid-flow-row md:grid-flow-col px-20 gap-8">
    <RealmCard />
    <RealmCard />
  </div>
</section>
