---
import RealmCard from "../components/realm-card.astro";
---

<section
  class="bg-cover bg-[url('https://res.cloudinary.com/jr-cloud/image/upload/v1670016601/rog-realms/bg_stone_texture_mobile_a9isiy.jpg')]"
>
  <h1>Reinos de RoG</h1>
  <div class="grid grid-flow-col">
    <RealmCard />
    <RealmCard />
    <RealmCard />
  </div>
</section>
